.section__one {
  background-image: url("../public/bg2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: #333;
}

.section__one__title {
  font-size: var(--text-3xl);
  text-transform: uppercase;
  margin-top: 2rem;
}

.section__one__subtitle {
  font-size: var(--text-sm);
  margin-bottom: 1rem;
}

.package__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.package-img {
  width: 200px;
  cursor: pointer;
  transition: 0.3s ease;
}

.package-img:hover {
  opacity: 70%;
}

.package__title {
  font-size: var(--text-xl);
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #333;
}

.package__title::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: 2.5rem;
  left: 0;
  transition: 0.3s ease;
}

.package__title:hover::after {
  width: 100%;
}

.package__subtitle {
  font-size: var(--text-sm);
}

/* xs */
@media (min-width: 475px) {
  .section__one__subtitle {
    font-size: var(--text-base);
  }

  .package__subtitle {
    font-size: var(--text-base);
  }
}
/* sm */
@media (min-width: 640px) {
  .package-img {
    width: 250px;
  }

  .package__title {
    font-size: var(--text-2xl);
  }
}
/* md */
@media (min-width: 768px) {
  .section__one__title {
    font-size: var(--text-4xl);
    margin-top: 3rem;
  }

  .package__container {
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .package-img {
    width: 200px;
  }

  .package__title {
    font-size: var(--text-xl);
  }

  .package__subtitle {
    font-size: var(--text-sm);
  }
}
/* lg */
@media (min-width: 1024px) {
  .section__one__subtitle {
    font-size: var(--text-lg);
    margin-bottom: 2rem;
  }

  .package__container {
    gap: 4rem;
  }

  .package-img {
    width: 250px;
  }

  .package__title {
    font-size: var(--text-2xl);
  }

  .package__subtitle {
    font-size: var(--text-base);
  }
}
/* xl */
@media (min-width: 1280px) {
  .section__one__title {
    font-size: var(--text-5xl);
  }

  .package__container {
    gap: 5rem;
  }

  .package-img {
    width: 300px;
  }

  .package__title {
    font-size: var(--text-3xl);
  }

  .package__subtitle {
    font-size: var(--text-lg);
  }
}
/* 2xl  */
@media (min-width: 1536px) {
  .section__one__title {
    font-size: var(--text-6xl);
  }

  .section__one__subtitle {
    font-size: var(--text-xl);
  }

  .package__container {
    gap: 6rem;
  }

  .package-img {
    width: 350px;
  }

  .package__subtitle {
    font-size: var(--text-xl);
  }
}
